My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are a smart food ordering assistant for \" Tadka Tales Restaurant\".  \n\nRules:  \n\n1. When a user sends their first message (like hi, hello), reply with:  \n\"Welcome to Tadka Tales Restaurant 🍽️  \nHow can I help you today?  \n- 🛒 Place an order  \n- ℹ️ FAQ / Information  \n- 📦 Check order / stock\"  \n\n(👉 Keep the tone friendly like a food delivery app, not like a product e-commerce site)  \n\n2. If user wants *order*:  \n- Ask step by step: name, food item, quantity  \n- Check Inventory sheet before confirming  \n   - If available → \"Your order for *[item]* (x quantity) is confirmed ✅\"  \n   - If not available → \"Sorry, *[item]* is out of stock ❌. Available options: [list items]\"  \n- Only confirmed orders go into the Orders sheet  \n- In Orders sheet always include:  \n   Status = Confirmed / Rejected  \n   Description = \"Order accepted (item available)\" OR \"Order rejected (out of stock)\"  \n\n3. If user wants *FAQ*:  \n- Answer short and clear (delivery time, payment method, restaurant hours)  \n\n4. If user wants *check order* or *check stock*:  \n- Ask for food name or order id  \n- Look up in Google Sheets (Orders / Inventory)  \n   - If checking order → reply with status (Confirmed / Rejected / Cancelled / Delivered)  \n   - If checking stock → reply with available quantity of that food  \n   - Also list all *available* food items with quantity if requested  \n\n5. If user wants *cancel order*:  \n- Reply politely:  \n  \"Sorry 🙏 I cannot cancel orders directly.  \n   Please call the restaurant owner first and inform them.  \n   Owner Contact: +95 ----------\"  \n\n6. Always reply in short text like a normal WhatsApp chat  \n- Do not use **bold** or long paragraphs  \n- Use *stars* only for highlighting words  \n- Keep tone friendly, polite, and food-delivery app style  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -160,
        -32
      ],
      "id": "c70cc379-b39a-48b2-9c8e-38186642c9de",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -416,
        224
      ],
      "id": "7319c905-2345-4d9d-a351-79d0d3403c45",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "B69BdNtOis4RiKvY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -160,
        176
      ],
      "id": "c3038fe9-6a7c-4e0a-87e5-ad3da37f8b2c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1d49gIOEufybJux9aR69rWMNZV1w_CUmlouZYWiTPopA",
          "mode": "list",
          "cachedResultName": "Food_Inventory_Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d49gIOEufybJux9aR69rWMNZV1w_CUmlouZYWiTPopA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 676179488,
          "mode": "list",
          "cachedResultName": "Food Inventory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d49gIOEufybJux9aR69rWMNZV1w_CUmlouZYWiTPopA/edit#gid=676179488"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        336,
        176
      ],
      "id": "62301038-c2f9-43b2-bd9a-d1b138a92f34",
      "name": "Get Inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4CZ8JtIS8BSMwfEp",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1d49gIOEufybJux9aR69rWMNZV1w_CUmlouZYWiTPopA",
          "mode": "list",
          "cachedResultName": "Food_Inventory_Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d49gIOEufybJux9aR69rWMNZV1w_CUmlouZYWiTPopA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 659479384,
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d49gIOEufybJux9aR69rWMNZV1w_CUmlouZYWiTPopA/edit#gid=659479384"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        192,
        224
      ],
      "id": "c8c0ce4a-223a-41f4-941e-4a3ea46cfae0",
      "name": "Get FAQ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4CZ8JtIS8BSMwfEp",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1d49gIOEufybJux9aR69rWMNZV1w_CUmlouZYWiTPopA",
          "mode": "list",
          "cachedResultName": "Food_Inventory_Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d49gIOEufybJux9aR69rWMNZV1w_CUmlouZYWiTPopA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1296273040,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d49gIOEufybJux9aR69rWMNZV1w_CUmlouZYWiTPopA/edit#gid=1296273040"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_Name', ``, 'string') }}",
            "Food Item": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Food_Item', ``, 'string') }}",
            "Quantity Ordered ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity_Ordered_', ``, 'string') }}",
            "Order Date": "={{ $now.format('yyyy-MM-dd hh-mm-ss a') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Food Item",
              "displayName": "Food Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity Ordered ",
              "displayName": "Quantity Ordered ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        480,
        112
      ],
      "id": "4094d168-63c2-4f91-a667-f04eb06367cc",
      "name": "Post Orders",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4CZ8JtIS8BSMwfEp",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        -48
      ],
      "id": "2eac8e7d-9d0b-474e-82e0-d531a477754c",
      "name": "WhatsApp Trigger",
      "webhookId": "d64b9fd2-9a97-4d92-8426-4a5778785b88",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "yGQfyuKFzLAwoc4I",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1111685432031404",
        "recipientPhoneNumber": "+91--------",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        688,
        -80
      ],
      "id": "c7ba7c8b-0c2a-4b44-8e37-1853ddd26b29",
      "name": "Send message",
      "webhookId": "eec6d253-f567-4e1c-b83c-293d21119946",
      "credentials": {
        "whatsAppApi": {
          "id": "HY5vEN1RESb0lBvt",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get FAQ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Post Orders": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3956ea2f-659b-4b2e-aa77-bdb46bc0a98f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2acea927fa144d3e33d2b77b1521fa8fd770b3453dfb5f8ac388c5dfcc845e9"
  },
  "nodeGroups": [],
  "id": "WZkNvjulDwFPzMXD",
  "tags": []
}
